html {
  font-size:                    62.5%;
}

body {
  @include type-body();

  color:                        $yinmn;
}

h1 {
  @include type-h1();
}

h2 {
  @include type-h2();
}

.logo {
  @include type-logo();
}

h3 {
  @include type-h3();
}

.lead {
  @include type-lead();
}

p {
  @include type-body();
}

.cta {
  @include type-cta();
}

a {
  color:                        $yinmn;
  text-decoration:              underline;
}

hr {
  height:                       2px;
  margin:                       0;
  padding:                      0;
  font-size:                    0;
  background-color:             $ui-border-color;
  color:                        transparent;
  border:                       0;
}

p svg {
  @include media("<tablet") {
    width:                      100%;
    height:                     auto;
  }
}


// Resources

.resources {
  .lead {
    margin-bottom:              0;
  }
}