// Colors

$whisper:                       #F5F5FA;
$yinmn:                         #2626F7;

// UI borders

$ui-border-width:               2px;
$ui-border-color:               $yinmn;

// Typography

$type-base-family:              "futura-pt", futura, sans-serif;
$type-heading-family:           "futura-pt-bold", futura, sans-serif;

$type-weight-bold:              700;
$type-weight-medium:            500;
$type-weight-book:              400;

$type-h1-size:                  7.2rem;
$type-h1-weight:                $type-weight-medium;
$type-h1-line-height:           7.2rem;
$type-h1-letter-spacing:        tracking-to-ems(0);
$type-h1-margin:                2.4rem 0 4.8rem;

$type-h1-lg-size:               12.0rem;
$type-h1-lg-weight:             $type-weight-medium;
$type-h1-lg-line-height:        14.4rem;
$type-h1-lg-letter-spacing:     tracking-to-ems(0);
$type-h1-lg-margin:             1.6rem 0 14.4rem;

$type-h2-size:                  2.4rem;
$type-h2-weight:                $type-weight-bold;
$type-h2-line-height:           3.2rem;
$type-h2-letter-spacing:        tracking-to-ems(0);
$type-h2-margin:                0 0 3.2rem;

$type-h2-lg-size:               3.2rem;
$type-h2-lg-weight:             $type-weight-bold;
$type-h2-lg-line-height:        4.0rem;
$type-h2-lg-letter-spacing:     tracking-to-ems(0);
$type-h2-lg-margin:             0 0 4.0rem;

$type-h3-size:                  2.4rem;
$type-h3-weight:                $type-weight-bold;
$type-h3-line-height:           3.2rem;
$type-h3-letter-spacing:        tracking-to-ems(2);
$type-h3-margin:                0;

$type-lead-size:                2.4rem;
$type-lead-weight:              $type-weight-book;
$type-lead-line-height:         3.2rem;
$type-lead-letter-spacing:      tracking-to-ems(0);
$type-lead-margin:              0 0 3.2rem;

$type-lead-lg-size:             3.2rem;
$type-lead-lg-weight:           $type-weight-book;
$type-lead-lg-line-height:      4.8rem;
$type-lead-lg-letter-spacing:   tracking-to-ems(0);
$type-lead-lg-margin:           0 0 4.8rem;

$type-body-size:                2.0rem;
$type-body-weight:              $type-weight-book;
$type-body-line-height:         3.2rem;
$type-body-letter-spacing:      tracking-to-ems(0);
$type-body-margin:              0 0 3.2rem;

$type-cta-size:                 2.0rem;
$type-cta-weight:               $type-weight-bold;
$type-cta-line-height:          3.2rem;
$type-cta-letter-spacing:       tracking-to-ems(50);
$type-cta-margin:               0;

// Media Query

$breakpoints:                   (
                                  phone: 374px,
                                  tablet: 767px,
                                  desktop: 1023px,
                                  hd: 1439px
                                );

$media-expressions:             (
                                  'screen': 'screen',
                                  'print': 'print',
                                  'handheld': 'handheld',
                                  'landscape': '(orientation: landscape)',
                                  'portrait': '(orientation: portrait)',
                                  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
                                  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
                                );