// Resets
// Body
html,
body {
  height:                       100%;
  width:                        100%;
}

body {
  margin:                       0;
  background-color:             $whisper;
}

// Main
body > header,
main > section {
  margin:                       0 auto;
  padding:                      12px;
  box-sizing:                   border-box;

  @include media(">tablet") {
    padding:                    48px;
  }

  @include media(">desktop") {
    padding:                    80px 0;
    max-width:                  960px;
  }

  @include media(">hd") {
    max-width:                1280px;
  }
}

// Hero
.hero {
    padding-top:                0;

    @include grid-row;
}

// Title
.title {
    padding-bottom:             6.4rem;
}

// Summary
.summary {
  @include media(">desktop") {
    @include grid-col(14, 26);
  }
}

.hero-logos {
  text-align:                   center;

  @include media(">desktop") {
    @include grid-col(12, 26);
  }
}