<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
  <body class="home">

    {{ partial "header.html" . }}

    <main>

      <section class="hero">

        <div class="title">
          <h1>National Poster Competition</h1>
          <p>Deadline 24 August, 2018</p>
        </div>

        <div class="summary">
          <p class="lead">Young &amp; Powerful is a poster design competition, inspired by Graphic Design Festival Scotland. It is a celebration of youth, their ambition, creativity and desire to make this world a better place, for a better future.</p>
          <p>Open to all ages between 12–24, Young &amp; Powerful is a platform that will give a the young a visual voice, to inspire hope through the eyes of the youth in Singapore.</p>
          <p>Selected entries will be displayed at National Museum of Singapore on 1 October to the public. The best poster in each of the three different age groups will be picked and offered a $1,000 cash prize. The posters will be also displayed in select MRT stations in Singapore.</p>
        </div>

        <div class="hero-logos">
        </div>

      </section>

      <section class="topics">
        <h2>Project Topics</h2>
        <p class="lead">Create posters based on the topics below.</p>
        <div class="media-list">
          <article class="media">
            <img src="" alt="Equality image">
            <div class="media-body">
              <h3>Equality</h3>
              <p>Examples for inspiration: Equal rights, celebrate diversity, end discrimination.</p>
            </div>
          </article>
          <article class="media">
            <img src="" alt="Democracy image">
            <div class="media-body">
              <h3>Democracy</h3>
              <p>Examples for inspiration: </p>
            </div>
          </article>
          <article class="media">
            <img src="" alt="Get active, stay healthy image">
            <div class="media-body">
              <h3>Get active, stay healthy</h3>
              <p>Examples for inspiration: Healthy eating, exercise and sports, the importance of mental health.</p>
            </div>
          </article>
          <article class="media">
            <img src="" alt="Stay hopeful, be positive image">
            <div class="media-body">
              <h3>Stay hopeful, be positive</h3>
              <p>Examples for inspiration: </p>
            </div>
          </article>
        </div>
      </section>

      <section class="dates">
        <h2>Key Dates</h2>
        <dl class="date-list">
          <dt>04 May, 2018</dt>
          <dd>Contest opens</dd>
          <dt>24 August, 2018</dt>
          <dd>Deadline for contest entries</dd>
          <dt>31 August, 2018</dt>
          <dd>Judging begins</dd>
          <dt>10 September, 2018</dt>
          <dd>Selected entries announced and notified</dd>
          <dt>01 October, 2018</dt>
          <dd>Open to public and final judging</dd>
        </dl>
      </section>

      <section class="format">
        <h2>Format</h2>
        <p class="lead">Create posters based on these specifications and rules.</p>
        <div class="media-list">
          <article class="media">
            <img src="" alt="Equality image">
            <div class="media-body">
              <p>Posters must be A3 in size, landscape or portrait.</p>
            </div>
          </article>
          <article class="media">
            <img src="" alt="Democracy image">
            <div class="media-body">
              <p>Posters can be created by hand or digitally.</p>
            </div>
          </article>
          <article class="media">
            <img src="" alt="Get active, stay healthy image">
            <div class="media-body">
              <p>No limit on the number of poster entries.</p>
            </div>
          </article>
          <article class="media">
            <img src="" alt="Stay hopeful, be positive image">
            <div class="media-body">
              <p>Submit your posters independently or as a group.</p>
            </div>
          </article>
        </div>
      </section>

      <section class="submission">
        <h2>Submission</h2>
        <p class="lead">Submit online or by post.</p>
        <article class="submission-option">
          <div class="option-label">Online</div>
          <div class="option-body">
            <a class="cta" href="#">Upload My Design</a>
          </div>
        </article>
        <article class="submission-option">
          <div class="option-label">By Post</div>
          <div class="option-body">
            <p>Please provide the following information if you are submitting by post.</p>
            <ul>
              <li>Full name</li>
              <li>Age</li>
              <li>Email Address</li>
              <li>Mobile Number</li>
              <li>School / College / University (if applicable)</li>
              <li>Workplace / Community Group / Organization (if applicable)</li>
            </ul>
            <p>Entries without these details won’t be considered for judging.</p>
            <p>Please remember to package it securely. Mailing tubes are recommended.</p>
            <p><img src="" alt="Mailing tube image"></p>
            <p>Mailing tubes are available at the post office.</p>
          </div>
        </article>
      </section>

      <section class="judging">
        <h2>Judging</h2>
        <p>Independent panel of judges will review all entries and 60 selected ones – 20 under each age group.</p>
        <p>The best entry in each age group will also win a cash prize of $1,000.</p>
        <article class="age-group">
          <div class="block">
            <div class="block-label">12 &endash; 16</div>
            <div class="block-caption">20 Winners</div>
          </div>
          <div class="block">
            <div class="block-label">17 &endash; 20</div>
            <div class="block-caption">20 Winners</div>
          </div>
          <div class="block">
            <div class="block-label">21 &endash; 24</div>
            <div class="block-caption">20 Winners</div>
          </div>
        </article>
      </section>

      <section class="workshop">
        <h2>Workshop</h2>
        <p class="lead">Done is better than perfect. To help with designing posters, we have 3 organizations that have kindly offered to conduct workshop for interested participants.</p>
        <p class="lead">Only limited seats available, so book your places early.</p>
      </section>

      <section class="resources">
        <h2>Resources</h2>
        <p class="lead">Below are some useful links to assist you with the project.</p>
        <ul>
          <li>
            <h3>First Impressions</h3>
            <p><a href="https://www.youtube.com/watch?v=0nI65jgHG9o">https://www.youtube.com/watch?v=0nI65jgHG9o</p>
          </li>
          <li>
            <h3>Pep Talk</h3>
            <p><a href="https://www.youtube.com/watch?v=l-gQLqv9f4o">https://www.youtube.com/watch?v=l-gQLqv9f4o</a></p>
          </li>
          <li>
            <h3>How to Make a Poster</h3>
            <p><a href="https://www.youtube.com/watch?v=nGDJI11vnMA">https://www.youtube.com/watch?v=nGDJI11vnMA</a></p>
          </li>
          <li>
            <h3>Beginning Graphic Design: Fundamentals</h3>
            <p><a href="https://www.youtube.com/watch?v=YqQx75OPRa0">https://www.youtube.com/watch?v=YqQx75OPRa0</a></p>
          </li>
          <li>
            <h3>Beginning Graphic Design: Colour</h3>
            <p><a href="https://www.youtube.com/watch?v=_2LLXnUdUIc">https://www.youtube.com/watch?v=_2LLXnUdUIc</a></p>
          </li>
          <li>
            <h3>Beginning Graphic Design: Typography</h3>
            <p><a href="https://www.youtube.com/watch?v=sByzHoiYFX0">https://www.youtube.com/watch?v=sByzHoiYFX0</a></p>
          </li>
          <li>
            <h3>Beginning Graphic Design: Layout &amp; Composition</h3>
            <p><a href="https://www.youtube.com/watch?v=a5KYlHNKQB8">https://www.youtube.com/watch?v=a5KYlHNKQB8</a></p>
          </li>
          <li>
            <h3>Beginning Graphic Design: Images</h3>
            <p><a href="https://www.youtube.com/watch?v=MELKuexR3sQ">https://www.youtube.com/watch?v=MELKuexR3sQ</a></p>
          </li>
        </ul>
      </section>

      <section class="credits">
        <h2>Credits</h2>
      </section>

    </main>

    {{ partial "footer.html" . }}

    <script src="/js/{{ index .Site.Data.js.hash "main.js" }}" type="text/javascript"></script>
  </body>
</html>