.cta {
  display:                      inline-block;
  color:                        $whisper;
  background-color:             $yinmn;
  padding:                      24px 32px;
  text-decoration:              none;

  @include media(">desktop") {
    padding:                    32px 48px;
  }
}

.media-list {
  @include grid-row;
}

.media {
  @include grid-row;

  margin-bottom:                32px;

  @include media(">desktop") {
    @include grid-col(13,26);

    margin-bottom:              64px;
  }

  .media-image {
    width:                      100%;
    margin-bottom:              16px;

    @include media(">tablet") {
      @include grid-col(5, 12);

      margin-bottom:            0;
      height:                   200px;
    }

    border:                     $ui-border-width solid $ui-border-color;
    height:                     160px;
    display:                    flex;
    align-items:                center;
    align-contents:             center;
    justify-content:            center;
  }

  .media-body {
    @include media(">tablet") {
      @include grid-col(5, 12);
      @include grid-push(1, 12);
    }
  }
}