// CTA

.cta {
  display:                      inline-block;
  color:                        $whisper;
  background-color:             $yinmn;
  padding:                      16px 24px;

  @include type-cta;

  @include media(">desktop") {
    padding:                    24px 32px;
  }
}

// Media

.media-list {
  @include grid-row;
}

.media {
  @include grid-row;

  margin-bottom:                32px;

  @include media(">desktop") {
    @include grid-col(13,26);

    margin-bottom:              64px;
  }

  .media-image {
    width:                      100%;
    margin-bottom:              16px;

    @include media(">tablet") {
      @include grid-col(5, 13);

      margin-bottom:            0;
      height:                   200px;
    }

    border:                     $ui-border-width solid $ui-border-color;
    height:                     160px;
    display:                    flex;
    align-items:                center;
    align-contents:             center;
    justify-content:            center;
  }

  .media-body {
    @include media(">tablet") {
      @include grid-col(6, 13);
      @include grid-push(1, 13);
    }
  }
}

// Dates List

.date-list {
  @include media(">tablet") {
    @include grid-row;
  }

  dt, dd {
    margin:                     0;

    @include media(">tablet") {
      padding:                  24px 0;
    }
  }

  dt {
    font-weight:                $type-weight-bold;
    border-top:                 $ui-border-width solid $ui-border-color;
    padding-top:                12px;

    @include media(">tablet") {
      @include grid-col(8, 22);
    }
  }

  dd {
    padding-bottom:             12px;

    @include media(">tablet") {
      border-top:                 $ui-border-width solid $ui-border-color;

      @include grid-col(14, 22);
    }
  }
}